@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.showMenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) scale(1);
  transform-origin: center;
  filter: brightness(1);
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
}
.closeMenu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(60px) scale(1.1);
  filter: brightness(3);
  transform-origin: center;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
}
